/*---------------- ------------- ------------- ------------- ---------GLOBAL---- ------------- ------------- ------------- ------------- ------------- ------------- ---------- */

html {
  background-color: #0f0a2f;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.hidden {
  display: none !important;
}
* {
  -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar {
  width: 4rem;
  height: 18px;
}

::-webkit-scrollbar-track {
  background: #0a192f; /* match your background */
}

::-webkit-scrollbar-thumb {
  background-color: #64ffda; /* bright accent */
  border-radius: 10px;
  border: 22px solid #0a192f; /* border for spacing */
}

/* Firefox (limited styling) */
* {
  scrollbar-color: #64ffda #0a192f;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Fredoka", sans-serif;
}

/*---------------- ------------- ------------- ------------- ---------HERO SECTION---- ------------- ------------- ------------- ------------- ------------- ------------- ---------- */

.hero-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  width: 95%;

  height: 100%;
  gap: 1rem;
  position: relative;
}

.hero-intro h1 {
  font-family: "Fredoka", sans-serif;
  color: #ccd6f6;
  font-weight: 500;
  font-size: 2rem;
}

.hero-intro span {
  color: #64ffda;
  font-weight: 600;
}

.hero-intro button {
  background: none;
  color: #d9d9d9;
  border-style: solid;
  border-color: #64ffda;
  font-family: "Fredoka", sans-serif;
  font-size: 1.3rem;
  padding: 0.3rem 1.7rem;
}

/*---------------- ------------- ------------- ------------- ---------FIXED ELEMENTS---- ------------- ------------- ------------- ------------- ------------- ------------- ---------- */
header {
  display: flex;
  background-color: #0f0a2f;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 4rem;
  top: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  left: 0;
  z-index: 1000;
}
header img {
  width: 100%;
}

.icons {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 50%;
  margin-left: auto;
  height: 100%;
}

.name {
  width: 50%;
  text-decoration: none;
  font-family: "Fredoka", sans-serif;
  color: #ccd6f6;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 600;
  font-size: 1.2rem;
}
.icons a {
  margin-left: auto;
  width: 25px !important;
}

.mail-icon,
.github,
.linkedin {
  display: flex;
  width: 25px;
  margin: 0.2rem !important;
}

/*---------------- ------------- ------------- ------------- ------------- INTRO SECTION------------- ------------- ------------- ------------- ------------- ------------- ---------- */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  gap: 1.8rem;
  width: 95%;
  margin-inline: auto;
  width: 95%;
  height: 100%;
  background: transparent;
}

.intro * {
  font-family: "Fredoka", sans-serif;
}

.intro h1 {
  font-family: "Fredoka", sans-serif;
  color: #ccd6f6;
  font-weight: 400;
  font-size: 2rem;
}

.intro span {
  color: #64ffda;
  font-weight: 600;
}

.intro h2 {
  font-family: "Fredoka", sans-serif;
  color: #ccd6f6;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.3;
}

.intro button {
  background: none;
  color: #d9d9d9;
  border-style: solid;
  text-decoration: none;
  border-radius: 30px;
  border-color: #64ffda;
  font-family: "Fredoka", sans-serif;
  font-size: 1.2rem !important;
  padding: 0.6rem 1.7rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.intro button:hover {
  transform: scale(1.2);
}

.intro p {
  font-family: "Fredoka", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8892b0;
}

/*---------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ---------- */

.about {
  display: flex;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: left;
  padding-top: 1rem;
  gap: 2rem;
  padding-bottom: 7rem;
}

.about * {
  font-family: "Fredoka", sans-serif;
  color: #d9d9d9;
}

.about h1 {
  font-weight: 600;
  font-size: 1.8rem;
  color: #ccd6f6;
  padding-bottom: 2rem;
}

.about p {
  font-family: "Fredoka", sans-serif;
  font-size: 0.93rem;
  font-weight: 400;
  line-height: 1.5;

  color: #8892b0;
}
.about span {
  color: #64ffda;
  font-weight: 500;
}

.right-about {
  display: none;
}
.skills img {
  width: 1rem;
  height: 1rem;
}

.skills {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.skills p {
  font-size: 0.93rem;
  color: #8892b0;
}

.skills-group {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Three equal columns */
  grid-template-rows: auto auto;
  width: 100%;
  row-gap: 0.5rem;
}

/*---------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ---------- */

.experience {
  width: 95%;

  margin-inline: auto;
  margin-inline: auto;
  padding-bottom: 5rem;
}

.experience-container {
  display: flex;
  gap: 3rem;

  flex-direction: column;
}

.experience-container-information {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

/* Mini container Settings */
.experience-titles {
  display: flex;
  gap: 2rem;
  flex: 1;
  padding-left: 1rem;
  flex-direction: column;
}

.experience-summary {
  flex: 3.5;
  text-align: left !important;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.3rem;
  align-items: center;
  flex-direction: column;
}

.job-points {
  display: flex;
  width: 95%;
  padding-left: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

/* Typography Settings */

.experience h1 {
  font-weight: 600;
  font-size: 1.8rem;
  color: #ccd6f6;
}
.qwoted-experience {
  font-weight: 500 !important;
  color: #64ffda;
}
.experience-titles button.menutech-experience {
  color: #64ffda;
}

.experience-titles button {
  font-weight: 500 !important;
  background-color: transparent;
  text-transform: uppercase;
  color: #8892b0;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;
}

.experience-titles button:hover {
  color: #64ffda;
}

.experience-container-header {
  font-size: clamp(1rem, 1vw, 5rem);
}

.job-date {
  padding-top: 1rem;
  font-size: 0.9rem !important;
  padding-bottom: 2rem;
  color: #ccd6f6;
  font-weight: 500;
  align-self: flex-start;
}

.job-date span {
  color: #64ffda;
}

.job-points li {
  color: #8892b0;
  line-height: 1.5rem;
  font-size: clamp(1rem, 0.8vw, 5rem);
}

.job-title {
  color: #ccd6f6;
  align-self: flex-start;
  font-size: 1.18rem !important;
}

.job-location {
  color: #64ffda;
}

.job-points li::marker {
  color: #64ffda; /* or whatever color you want */
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(120px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 0.7s ease-out forwards;
}

/*---------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ---------- */
.projects {
  padding-top: 2rem;
  padding-bottom: 3rem;
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-inline: auto;
}

.project-sections {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 1rem;
}

.projects h1 {
  font-family: "Fredoka", sans-serif;
  color: #ccd6f6;
  font-weight: 600;
  font-size: 1.8rem;
}

.project-row {
  width: 95%;
  margin-inline: auto;
  height: 20.5rem;
  background-color: #112240;
  border-radius: 6%;
  display: flex;
  justify-content: space-around;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  flex-direction: column;
}

.project-row h2 {
  font-family: "Fredoka", sans-serif;
  color: #ccd6f6;
  font-weight: 500;
  font-size: 1.3rem;
  text-align: start;
  text-decoration: none;
}

.project-row p {
  font-family: "Fredoka", sans-serif;
  font-size: 0.93rem;
  font-weight: 400;
  text-align: start;
  color: #8892b0;
  line-height: 1.5;
}

.project-row img {
  width: 8%;
}

.project-row-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.project-row-icons a {
  display: inline-flex; /* shrink-wraps the image */
  align-items: center;
  justify-content: end;
  width: auto;
  height: 100%;
  padding: 0;
  margin: 0;
}

.project-row-icons a img {
  width: 10%;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

footer {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 6rem;
}

footer p {
  font-family: "Fredoka", sans-serif;
  font-size: 0.93rem;
  font-weight: 400;
  color: #8892b0;
  line-height: 1.5;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1.2s ease, transform 2s ease;
}

.animate-on-scroll.in-view {
  animation: fadeInUp 2s ease forwards;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 768px) {
  /*---------------- ------------- ------------- ------------- ---------GLOBAL---- ------------- ------------- ------------- ------------- ------------- ------------- ---------

  /*---------------- ------------- ------------- ------------- ---------HEADER SECTION---- ------------- ------------- ------------- ------------- ------------- ------------- ---------- */

  .experience {
    max-width: 1200px;
    margin-inline: auto;
    padding-top: 10rem;
    margin-inline: auto;
    margin-bottom: 2rem;
    height: 70vh;
  }

  .experience-container {
    display: flex;
    gap: 3rem;

    flex-direction: column;
  }

  .experience-container-information {
    gap: 3rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
  }

  .experience-titles {
    display: flex;
    gap: 3rem;
    flex: 1;
    padding-top: 3rem;
    flex-direction: column;
  }

  .experience-summary {
    flex: 3.5;
    display: flex;
    padding-top: 0;
  }

  .job-points {
    padding-left: 2rem;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .experience h1 {
    font-weight: 600;
    font-size: clamp(3rem, 1.8vw, 5rem);
    color: #ccd6f6;
  }

  .experience-titles button {
    font-weight: 600 !important;
    background-color: transparent;
    color: #8892b0;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: clamp(1rem, 0.8vw, 2rem);
    transition: all 0.7s ease-in-out;
  }

  .experience-titles button:hover {
    color: #64ffda;
  }

  .experience-container-header {
    font-size: clamp(1rem, 1vw, 5rem);
  }

  .job-date {
    padding-top: 1rem;
    font-size: clamp(0.5rem, 0.8vw, 3rem) !important;
    padding-bottom: 2rem;
    color: #ccd6f6;
  }

  .job-date span {
    color: #64ffda;
  }

  .job-points li {
    color: #8892b0;
    line-height: 2rem;
    font-size: clamp(1rem, 0.8vw, 5rem);
  }

  .job-title {
    font-size: 200rem;
    color: #ccd6f6;

    font-size: clamp(2rem, 0.8vw, 10rem) !important;
  }

  .job-location {
    color: #64ffda;
  }

  .veeva-experience {
    font-weight: 500 !important;
    color: #64ffda;
  }

  .job-points li::marker {
    color: #64ffda;
  }

  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(120px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-up {
    animation: fadeUp 0.7s ease-out forwards;
  }

  .top {
    background-color: #0f0a2f;
    height: 4rem;
    width: 100%;
    left: 50%; /* move starting point to middle of the screen */
    transform: translateX(-50%);
    position: fixed;
    z-index: 20000;
    animation: fadeIn 1s ease forwards;
  }
  header {
    max-width: 1000px;
    margin-inline: auto;

    left: 50%; /* move starting point to middle of the screen */
    transform: translateX(-50%);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .icons {
    min-width: 95px;
  }

  .github,
  .linkedin {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name {
    flex: 3;
    text-decoration: none;
    font-family: "Fredoka", sans-serif;
    color: #ccd6f6;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
  }
  header img {
    width: 100%;
  }

  /*---------------- ------------- ------------- ------------- ---------HERO SECTION---- ------------- ------------- ------------- ------------- ------------- ------------- ---------- */

  .intro {
    max-width: 1200px;
    margin-inline: auto;
  }

  .intro h1 {
    font-size: clamp(4rem, 3.3vw, 4.6rem);
    font-weight: 400;
  }

  .intro span {
    color: #64ffda;
    font-weight: 500;
  }

  .intro h2 {
    font-size: clamp(1.8rem, 1.2vw, 3rem);
    max-width: 67%;
  }

  .intro button {
    font-size: clamp(1.8rem, 1vw, 3rem);
    padding: 0.6rem 1.7rem;
  }

  .intro p {
    font-size: clamp(1.3rem, 0.8vw, 3rem);
    font-weight: 400;
    max-width: 70%;
  }

  /*---------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ---------- */

  .about {
    max-width: 1200px;
    margin-inline: auto;
    padding-top: 6rem;
    flex-direction: row;
  }

  .about h1 {
    font-size: clamp(3rem, 1.8vw, 5rem);
    font-weight: 500;
    padding-bottom: 3rem;
  }

  .right-about {
    flex: 1;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.9rem;
  }

  .right-about img {
    width: 100%;
    border-radius: 10%;
    height: 75%;
    object-fit: cover;
  }

  .left-about {
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about p {
    font-size: clamp(1.1rem, 0.8vw, 3rem);
    font-weight: 400;
  }

  .skills-group {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Three equal columns */
    grid-template-rows: auto auto;
    width: 100%;
    row-gap: 0.5rem;
  }

  /*---------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ---------- */
  .projects h1 {
    font-size: clamp(3rem, 1.8vw, 5rem);
    font-weight: 500;
    padding-bottom: 2rem;
  }

  .projects {
    padding-top: 10rem;
    max-width: 1200px;
    margin-inline: auto;
    justify-content: start;
  }

  .project-row {
    height: 20.5rem;
    background-color: #112240;
    border-radius: 6%;
    display: flex;
    justify-content: space-around;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    flex-direction: column;
  }

  .project-sections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 1rem;
  }
}
